{% extends "base.html" %}

{% block contenido %}
    <h2>Lista de Cursos</h2>

    <ul>
    {% for curso in cursos %}
        <li>
            <strong>Nombre:</strong> {{ curso.nombre }} <br>
            <strong>Docente:</strong> {{ curso.docente }} <br>
            <strong>Cupos:</strong> {{ curso.cupos }} <br>
            <strong>Estado:</strong> 
            {% if curso.cupos > 0 %}
                <span>Curso disponible</span>
            {% else %}
                <span>Curso lleno</span>
            {% endif %}
        </li>
        <br>
    {% endfor %}
    </ul>
{% endblock %}