{% extends "base.html" %}

{% block contenido %}
    {% if usuario %}
        <h2>Bienvenido nuevamente, {{ usuario }}.</h2>
    {% else %}
        <h2>Bienvenido al Portal Académico.</h2>
    {% endif %}
    <h2>Lista de Cursos</h2>

    <ul>
    {% for curso in cursos %}
        <li>
            <strong>Nombre:</strong> {{ curso.nombre }} <br>
            <strong>Docente:</strong> {{ curso.docente }} <br>
            <strong>Cupos:</strong> {{ curso.cupos }} <br>
            <strong>Estado:</strong> 
            {% if curso.cupos > 0 %}
                <span>Curso disponible</span>
            {% else %}
                <span>Curso lleno</span>
            {% endif %}
        </li>
        <br>
    {% endfor %}
    </ul>
    {% if usuario %}
        <a href="/eliminar_cookie">Eliminar Cookie de Preferencia</a>
        <br><br>
    {% endif %}
    
    <a href="/">Volver al Login</a>
{% endblock %}